<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons :: head"></head>
<body>

<nav th:replace="/fragments/commons :: navigation"></nav>

<div class="p-5 text-center">
  <h1 class="text-light bg-blur border-bottom border-top border-left border-right">Add Logistic Company</h1>
  <div class="d-flex justify-content-center">
    <form th:action="@{/companies/add-company}" th:method="post" th:object="${logisticCompanyAddBindingModel}"
          class="text-light">

      <div class="form-row m-5">
        <div class="col">
          <label for="name">Logistic Company Name</label>
          <input th:field="*{name}" th:errorclass="bg-danger" name="name" id="name" type="text"
                 class="form-control" placeholder="Logistic Company Name">
          <small th:if="${#fields.hasErrors('name')}" id="nameError"
                 class="form-text bg-danger text-light rounded">Name must be between 3 and 20 characters</small>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-success btn-block w-50" type="submit">Add Company</button>
      </div>
    </form>
  </div>
</div>

<footer th:replace="/fragments/footer-fixed-bottom :: footer-fixed-bottom"></footer>

</body>
</html>